<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="KelEzb.Properties.Settings.KelimeEzberVeriTabanı" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\KelimeEzber.mdb" providerName="System.Data.OleDb"/>
        <add name="KelEzb.Properties.Settings.KelimeEzberConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=E:\ders\Code\Proje\KelimeEzber.mdb" providerName="System.Data.OleDb"/>
        <add name="KelEzb.Properties.Settings.KellEzbAcsConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\KellEzbAcs.mdb" providerName="System.Data.OleDb"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
